<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><form action="{{path('edit_Authq')}}">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{htmlauthor.username}}">    
        <br>
        <br>
        <br>

        <label for="email">email</label>
        <input type="text" name="email" value="{{htmlauthor.email}}">    
        <br>
        <br>
        <br>

       <center> <input type="text" name="id" value="{{htmlauthor.id}}" hidden>
        <input type="submit" value="Edit"></center>



    </form>
    </center>

</body>
</html>